.channel_list_div {
	padding: 0px;
}
.channel_heading {
	padding: 0px;
	text-transform: uppercase;
}
.channel_list {
	list-style-type: none;
	text-decoration: none;
	padding: 0px;
	margin: 0 auto;
}
.channel_list li a {
	color: #7f919e;
  	font-size: 100%;
  	display: block;
  	padding: 5px 5px 5px 5px;
}
.channel_list li a:hover {
	text-decoration: none;
	color: #1976d2;
	background-color: #f8f8f8;
	cursor: pointer;
	padding: 5px 5px 5px 5px;
}
.group_image {
	width: 30px;
	height: 30px;
	border-radius: 20px 20px 20px 20px;
}
.badge {
	background-color: #cb2027;
	color: white;
}

