<div class="row" id="channel_recommendation_module">
  <div class="col-lg-12" id="channel_recommendation_div">
    <h5 class="channel_name_header">Lively Circles</h5>
    <hr class="channel_name_header_line">
    <div class="channel_recommendation_wrap" *ngFor=" let circle of circles">

      <div class="row" id="channel_recommendation_record">
        <div class="col-lg-3" id="group_image_div">
          <a>
            <img src="http://4c3f12db975a1c8b62fd-ee282e5b70d98fac94cba689ef7806d7.r43.cf1.rackcdn.com/default_group_normal.png"
            class="group_image">
          </a>
        </div>
        <div class="col-lg-9" id="channel_name_div" >
          <a class="channel_name">{{ circle.circleName }}</a>
          <span class="joinLink"><a (click)="joinCircle(circle)">Join</a></span>
        </div>
      </div>

      <hr class="channel_recomendation_line">

    </div>
  </div>
</div>



<div class="row" id="user_recommendation_module">
  <div class="col-lg-12" id="user_recommendation_div">
    <h5 class="user_name_header">Follow people around the network</h5>
    <hr class="user_name_header_line">
    
    <div class="user_recommendation_wrap"  *ngFor=" let user of users">

      <div class="row" id="user_recommendation_record">
        <div class="col-lg-3" id="user_image_div">
          <a>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0RPebtJzQWUs1L1sP3dnYv5aSq2KTGk4lsKV7-QUdlVH2_D_W"
            class="user_image">
          </a>
        </div>
        <div class="col-lg-9" id="user_name_div" >
          <a class="user_name">{{user.name }}</a>
          <span class="followLink"><a (click)="followUser(user)">Follow</a></span>
        </div>
      </div>

      <hr class="user_recomendation_line">

    </div>
  </div>
</div>
