.md-dialog-container{
	width: 500px;
	height: 1000px;
	align-content: center;
}
.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
div
{
	margin-bottom: 50px;
}
#desc,#circle
{

}