<!-- <md-nav-list>
<md-list-item *ngFor="let items of members">
     <button md-button  (click)="selectMember(items.memberName)">{{items.memberName}}</button>
 </md-list-item>
</md-nav-list> -->

<!-- <div class="list-group">
	<div *ngFor="let items of members">
		<button class="list-group-item circleList"
			(click)="selectMember(items.memberName)">{{items.memberName}}
		</button>
		<md-divider class="divider"></md-divider>	
	</div>
</div> -->

<!-- <div class="list-group userList">
	<button class="list-group-item circleList userListItem">Hema
	</button>
	<button class="list-group-item circleList userListItem">Charu
	</button>
	<button class="list-group-item circleList userListItem">Amardeep
	</button>

	<md-divider class="divider"></md-divider>	
</div> -->

<!-- <div class="footer_nav_contents">
    <h3>Members</h3>
    <ul class="footer_nav">
      <li *ngFor="let items of members">
        <a (click)="selectMember(items.memberName)">{{items.memberName}}</a>
      </li>
      <li>
        <a href="">Charu</a>
      </li>
      <li>
        <a href="">Amar</a>
      </li>
      <li>
        <a href="">Hema</a>
      </li>
    </ul>
    <p class="showMore"><a href="">Show more...</a></p>
</div> -->

<div class="user_list_div">
  <h5 class="user_heading">Members</h5>
  <ul class="user_list" *ngFor="let items of members">
    <li>
      <a (click)="selectMember(items.memberName)">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0RPebtJzQWUs1L1sP3dnYv5aSq2KTGk4lsKV7-QUdlVH2_D_W"
        class="user_image">&nbsp;&nbsp;&nbsp;{{items.memberName}}
      </a>
    </li>
  </ul>
</div>
