.user_list_div {
	padding: 0px;
}
.user_heading {
	padding: 0px;
	text-transform: uppercase;
}
.user_list {
	list-style-type: none;
	text-decoration: none;
	padding: 0px;
	margin: 0 auto;
}
.user_list li a {
	color: #7f919e;
  	font-size: 100%;
  	display: block;
  	padding: 5px 5px 5px 5px;
}
.user_list li a:hover {
	text-decoration: none;
	color: #1976d2;
	background-color: #f8f8f8;
	cursor: pointer;
	padding: 5px 5px 5px 5px;
}
.user_image {
  width: 30px;
  height: 30px;
  border-radius: 20px 20px 20px 20px;
}
