h2{
	
	text-transform: uppercase;
	
}
button
{
	display: inline;
	margin-left: 30px;
	padding-left: 10px;
	font-size:15px;
	margin-bottom: 20px;
	border-radius: 12px;
}
#circleroot{
	position: fixed;
	/*background-color: #e5fffb;*/
}
#mail{
	/*background-color: green;*/
}
#post{
	background-color: red;
}
p{
	background-color: orange;
}