<!-- inbox header row  -->
<div class="row" id="navbar_row">
	<div class="col-lg-12" id="navbar_column">
		<header class="collapse navbar-collapse navbar-default clearfix inboxHeadingDiv">
			<section class="navbar-text navbar-left clearfix" >
				<h3><img src="http://4c3f12db975a1c8b62fd-ee282e5b70d98fac94cba689ef7806d7.r43.cf1.rackcdn.com/default_group_normal.png"
					class="group_image">&nbsp;&nbsp;
				</h3>
			</section>
			<section class="navbar-text navbar-right clearfix iconsEdit">
				<a (click)=openDialog() class="iconLink">
					<i class="material-icons">edit</i>
				</a>
			</section>
			<section class="navbar-text navbar-right clearfix iconsDelete">
				<a (click)=deleteCircle() class="iconLink">
					<i class="material-icons">delete</i>
				</a>
			</section>
		</header><!--  header end  -->
	</div>
</div><!-- inbox header row end -->


<!-- inbox message row -->
<div class="row" id="inboxMessageRow">
	<div class="col-lg-12" id="inboxMessageDiv">

		<div class="messageWrap" *ngFor = "let message of myinbox">
			<div class="row" id="msgcard">
				<p>
					<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0RPebtJzQWUs1L1sP3dnYv5aSq2KTGk4lsKV7-QUdlVH2_D_W"
					class="user_image">&nbsp;&nbsp;&nbsp;{{message.from}}
				</p>
			</div><!-- header row end  -->
			<div class="row" id="messageContent">
				<div class="well well-sm meassage">{{message.message}}</div>
			</div>
		</div>

	</div>
</div><!-- inbox message row end -->

<!-- post message row -->
<div class="row" id="postMessageRow">
	<div class="col-lg-12" id="postMessageDiv">
		<post></post>
	</div>
</div><!-- post message row end -->

