<!-- inbox header row  -->
<div class="row" id="navbar_row">
	<div class="col-lg-12" id="navbar_column">
		<header class="collapse navbar-collapse navbar-default clearfix inboxHeadingDiv">
			<section class="navbar-text navbar-left clearfix" >
				<h3><img src="http://4c3f12db975a1c8b62fd-ee282e5b70d98fac94cba689ef7806d7.r43.cf1.rackcdn.com/default_group_normal.png"
					class="group_image">&nbsp;&nbsp;{{ circle.circleName }}
				</h3>
			</section>
			<section class="navbar-text navbar-right clearfix iconsEdit" *ngIf="circle.circleCreatedBy == username">
				<a (click)=openDialog() class="iconLink">
					<i class="material-icons">edit</i>
				</a>
			</section>
			<section class="navbar-text navbar-right clearfix iconsDelete"
			*ngIf="circle.circleCreatedBy == username">
				<a (click)=deleteCircle() class="iconLink">
					<i class="material-icons">delete</i>
				</a>
			</section>
			<section class="navbar-text navbar-right clearfix iconsLeave"
			*ngIf="circle.circleCreatedBy != username">
				<a (click)=leaveCircle() class="iconLink">
					<i class="material-icons">arrow forward</i>
				</a>
			</section>
		</header><!--  header end  -->
	</div>
</div><!-- inbox header row end -->


<!-- inbox message row -->
<div class="row" id="inboxMessageRow">
	<div class="col-lg-12" id="inboxMessageDiv">
		<ul class="chat" *ngFor=" let message of myinbox">
			<li class="left clearfix"><span class="chat-img pull-left">
				<img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
			</span>
			<div class="chat-body clearfix">
				<div class="header">
					<strong class="primary-font">{{ message.from }}</strong> <small class="pull-right text-muted">
					<span class="glyphicon glyphicon-time"></span>12 mins ago
					<button md-icon-button [mdMenuTriggerFor]="menu">
						<md-icon>more_vert</md-icon>
					</button>
				</small>

				<md-menu #menu="mdMenu">
					<button md-menu-item>
						<span>Delete</span>
					</button>
				</md-menu>
			</div>
			<p>
				{{ message.message}}
			</p>
		</div>
	</li>
</ul>
<div class="col-md-12">
	<ul class="pagination pull-right">
		<li><button (click)="getMailbox( page - 1 )">«</button></li>
		<li><button (click)="getMailbox( page + 1)">»</button></li>
	</ul>
</div>
</div>
</div><!-- inbox message row end -->

<!-- post message row -->
<div class="row" id="postMessageRow">
	<div class="col-lg-12" id="postMessageDiv">
		<post></post>
	</div>
</div><!-- post message row end -->

