.container {
	width: 100%;
}
#mainInboxConatiner {
	background-color: white;
}
#navbar_row {
	margin: 0 auto;
}
#navbar_column {
	padding: 0px;
}
header {
	margin: 0px auto;
}
section {
	margin: 0px auto;
}
.material-icons {
	font-size: 20px;
}
.iconsEdit {
	margin: 20px 50px 20px 0px;
}
.iconsDelete {
	margin: 20px 20px 20px 0px;
}

#inboxMessageDiv {
	padding-top: 30px;
	padding-left: 50px;
	height: 450px;
	overflow-y: scroll;
}
/* Let's get this party started */
#inboxMessageDiv::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
#inboxMessageDiv::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
#inboxMessageDiv::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(248,248,248); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
#inboxMessageDiv::-webkit-scrollbar-thumb:window-inactive {
	background: rgb(248,248,248); 
}

.inboxHeadingDiv {
	padding-left: 50px;
}
#inboxMessageRow {
	margin: 0 auto;
}
#postMessageRow {
	margin: 0 auto;
}
#postMessageDiv {
	padding: 0px;
}
.group_image {
	width: 40px;
	height: 40px;
	border-radius: 20px 20px 20px 20px;
}
.iconLink {
	text-decoration: none;
	color: #7f919e; 
}
.iconLink:hover {
	text-decoration: none;
	color: #1976d2;
	cursor: pointer; 
}

