<!-- <md-grid-list cols="5" rowHeight="2:1">
  <md-grid-tile colspan="1" rowspan="3" id="circleroot">
     <circlelist></circlelist>
  </md-grid-tile>

  <md-grid-tile colspan="3" rowspan="5" id="rightpanel">
    <rightpanel></rightpanel>
  </md-grid-tile>

  <md-grid-tile colspan="1" rowspan="5" id="recommendation">
   
  </md-grid-tile>

  <md-grid-tile colspan="1" rowspan="2" id="memberlist">
    <userlist></userlist>
  </md-grid-tile> --> 
  <!-- <md-grid-tile colspan="4" id="post">
    <post></post>
  </md-grid-tile> -->
<!-- </md-grid-list> -->

<div class="container" id="mainDiv">
  <div class="row" id="mainRowDiv">

    <!-- leftPannel column  -->
    <div class="col-lg-2" id="leftPanel">
      <leftpanel></leftpanel>

    </div>

      <!-- circlelist row  -->
      <!-- <div class="row" id="circlelistRow">
        <div class="col-lg-12" id="circlelistDiv"> -->
          <!-- <leftpanel></leftpanel> -->
        <!-- </div> -->

        <!-- <app-circle-list></app-circle-list> -->
        <!-- </div> --><!-- circlelistDiv end  -->
      <!-- </div> --><!-- circlelist row end  -->

      <!-- userlist row  -->
      <!-- <div class="row" id="userlistRow">
        <div class="col-lg-12" id="userlistDiv">
          <app-user-list></app-user-list>
        </div> --><!-- userlistDiv end  -->
      <!-- </div> --><!-- userlist row end  -->

    <!-- </div> --><!-- leftPannelcolumn end  -->




    <!-- inboxpannel column  -->
    <div class="col-lg-8" id="inboxpanel">
      <!-- inbox row  -->
      <!-- <div class="row" id="inboxRow"> -->
        <!-- <div class="col-lg-12" id="inboxDiv"> -->
          
          <app-inbox-panel></app-inbox-panel>
          
        <!-- </div> --><!-- inboxDiv end  -->              
      <!-- </div> --><!-- inbox row end  -->
    </div><!-- inboxpannel column end  -->


    <!-- rightpannel column  -->
    <div class="col-lg-2" id="rightpanel">
      <!-- recommendation row  -->
      <!-- <div class="row" id="recommendationRow">
        <div class="col-lg-12" id="recommendationDiv"> -->
          <rightpanel></rightpanel>
        <!-- </div> --><!-- recommendationDiv end  -->
      <!-- </div> --><!-- recommendation row end  -->
    </div><!-- rightpannel column end  -->


  </div><!-- mainRowDiv end  -->
  
</div><!-- mainDiv end  -->