<md-grid-list cols="5" rowHeight="2:1">
  <md-grid-tile colspan="1" rowspan="3" id="circleroot">
     <circlelist></circlelist>
  </md-grid-tile>
  <md-grid-tile colspan="3" rowspan="5" id="rightpanel">
  
    <rightpanel></rightpanel>
    
  </md-grid-tile>
  <md-grid-tile colspan="1" rowspan="5" id="recommendation">
  
    
  </md-grid-tile>
  <md-grid-tile colspan="1" rowspan="2" id="memberlist">
    <userlist></userlist>
  </md-grid-tile>
  <!-- <md-grid-tile colspan="4" id="post">
    <post></post>
  </md-grid-tile> -->
</md-grid-list>
