<div class="container-fluid" id="mainDiv">
  <div class="row no-gutters" id="mainRowDiv">

  <!-- leftPannel column  -->
    <div class="col-lg-2 col-md-2" id="leftPanel">
      <leftpanel></leftpanel>
    </div><!-- leftPannel column end -->
  
    <!-- inboxpannel column  -->
    <div class="col-lg-7 col-md-7" id="inboxpanel">
      <router-outlet></router-outlet>
    </div><!-- inboxpannel column end  -->
  
    <!-- rightpannel column  -->
    <div class="col-lg-3 col-md-3" id="rightpanel">
      <rightpanel></rightpanel>
    </div><!-- rightpannel column end  -->
  </div><!-- mainRowDiv end  -->
</div><!-- mainDiv end  -->
