#user_data {
	margin: 0 auto;
	/*padding-left: 15px;
	padding-right: 15px;*/
	padding: 10px 15px 0px 15px;
}
.user_data_div {
	/*padding: 0px;*/
}
.user_image {
	padding: 0px;
}
.profile_image {
	width: 30px;
    height: 30px;
    padding: 0px;
    border-radius: 20px 20px 20px 20px;
}
.user_name {
	padding: 0px;
}
#new_circle_heading_row {
	margin: 0 auto;
	padding: 20px 15px 0px 15px;
}
#new_circle {
	padding: 0px;
}
.create_circle_link {
	padding: 0px;
	text-decoration: none;
	color: #7f919e;
	font-size: 100%;
	display: block;
	padding: 5px 5px 5px 5px;
}
.create_circle_link:hover {
	text-decoration: none;
	color: #1976d2;
	background-color: #f8f8f8;
	cursor: pointer;
}
#channel_list_column {
	padding: 0px;
}
#user_list_column {
	padding: 0px;
}
#channel_list_row {
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
}
#user_list_row {
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
}
.material-icons {
	font-size: 25px;
}

.showMoreLink {
  font-style: italic;
  padding-left: 30px;
  padding-top: 30px;
}
.showMoreLink a {
  text-decoration: none;
  color: #7f919e;
}
.showMoreLink a:hover {
  color: #1976d2;
  cursor: pointer;
}

	