<div class="row" id="user_data">
  <div class="user_data_div">
    <div class="col-lg-3 user_image">
      <img src="{{model.profilePhoto}}" 
          class="profile_image">
    </div><!-- user_image column end  -->
    <div class="col-lg-8 user_name">
      <h4>{{model.firstName}} {{model.lastName}}</h4>
    </div><!-- user_image column end   -->
  </div>
</div><!-- user data row end -->

<div class="row" id="new_circle_heading_row">
  <div class="col-lg-12" id="new_circle">
    <a class="create_circle_link" (click)="openDialog()">Create New Channel
    </a>
  </div>
</div>


<div class="row" id="channel_list_row">
  <div class="col-lg-12" id="channel_list_column">
    <circlelist></circlelist>
  </div>
  <span class="showMoreLink"><a>show more...</a></span>
</div><!-- channels row end  -->


<div class="row" id="user_list_row">
  <div class="col-lg-12" id="user_list_column">
    <userlist></userlist>
  </div>
  <span class="showMoreLink"><a>show more...</a></span>
</div><!-- members row end  -->



