
md-toolbar {
	display: flex;
	background-color: black;
	color:white;
}

button{
	margin-left: 20px;
}

md-input-container{
	margin-left: 300px;
}
input::-webkit-input-placeholder {
color: white !important;
}

.example-spacer {
  flex: 1 1 auto;
}