<div class="messageWrap">
	<div class="row">
		<p>
       		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0RPebtJzQWUs1L1sP3dnYv5aSq2KTGk4lsKV7-QUdlVH2_D_W"
        	class="user_image">&nbsp;&nbsp;&nbsp;Randeep
        </p>
	</div><!-- header row end  -->
	<div class="row" id="messageContent">
		<div class="well well-sm meassage">randeep18 joined Stackroute</div>
				
	</div>
</div>

<div class="messageWrap">
	<div class="row">
		<p>
       		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0RPebtJzQWUs1L1sP3dnYv5aSq2KTGk4lsKV7-QUdlVH2_D_W"
        	class="user_image">&nbsp;&nbsp;&nbsp;Charu
        </p>
	</div><!-- header row end  -->
	<div class="row" id="messageContent">
		<div class="well well-sm meassage">charu joined Stackroute</div>
				
	</div>
</div>


<div class="messageWrap">
	<div class="row">
		<p>
       		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0RPebtJzQWUs1L1sP3dnYv5aSq2KTGk4lsKV7-QUdlVH2_D_W"
        	class="user_image">&nbsp;&nbsp;&nbsp;Randeep
        </p>
	</div><!-- header row end  -->
	<div class="row" id="messageContent">
		<div class="well well-sm meassage">randeep18 joined Stackroute</div>
				
	</div>
</div>

<div class="messageWrap">
	<div class="row">
		<p>
       		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0RPebtJzQWUs1L1sP3dnYv5aSq2KTGk4lsKV7-QUdlVH2_D_W"
        	class="user_image">&nbsp;&nbsp;&nbsp;Randeep
        </p>
	</div><!-- header row end  -->
	<div class="row" id="messageContent">
		<div class="well well-sm meassage">randeep18 joined Stackroute</div>
				
	</div>
</div>

<div class="messageWrap">
	<div class="row">
		<p>
       		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0RPebtJzQWUs1L1sP3dnYv5aSq2KTGk4lsKV7-QUdlVH2_D_W"
        	class="user_image">&nbsp;&nbsp;&nbsp;Randeep
        </p>
	</div><!-- header row end  -->
	<div class="row" id="messageContent">
		<div class="well well-sm meassage">randeep18 joined Stackroute</div>
				
	</div>
</div>

<div class="messageWrap">
	<div class="row">
		<p>
       		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0RPebtJzQWUs1L1sP3dnYv5aSq2KTGk4lsKV7-QUdlVH2_D_W"
        	class="user_image">&nbsp;&nbsp;&nbsp;Randeep
        </p>
	</div><!-- header row end  -->
	<div class="row" id="messageContent">
		<div class="well well-sm meassage">randeep18 joined Stackroute</div>
				
	</div>
</div>

<div class="messageWrap">
	<div class="row">
		<p>
       		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0RPebtJzQWUs1L1sP3dnYv5aSq2KTGk4lsKV7-QUdlVH2_D_W"
        	class="user_image">&nbsp;&nbsp;&nbsp;Randeep
        </p>
	</div><!-- header row end  -->
	<div class="row" id="messageContent">
		<div class="well well-sm meassage">randeep18 joined Stackroute</div>
				
	</div>
</div>


