.navbar {
	padding-left: 50px;
}

.navbar-default .navbar-nav > li > a {
	color: #1976D2;
	font-size: 16px;
	padding: 15px 20px;
}

.navbar-default .navbar-header .navbar-brand {
	font-weight: bold;
	color: #1976D2;
	font-size: 30px;
}

.navbar-default .navbar-nav > li > button {
	font-size: 16px;
	margin-left: 5px;
}

.navbar {
	box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.menu {
	margin-top: 5px;
}

#loginbox {
	margin-top: 30px;
}
