<!-- container to display the sent message -->
<div *ngFor="let message of messages">
	<md-card>
  		{{ message }}
	</md-card>
</div>
<!-- chat box to type message -->
<div class="chatBox">
	<h3>send to {{ to }} </h3>
	<br>
	From: <input md-input type="text" name="to" value= {{from}}><br>
	To:	<input md-input type="text" name="from" value={{to}}><br>
	Message: <input md-input type="textarea" name="message" #message>
 	<button md-button type="submit" (click)="send(message.value)">send</button>
</div>

