<div class="row">
    <div class="col-md-12">
        <div class="input-group">
            <input type="text" class="form-control " placeholder="search" #circle>
            <span class="input-group-btn"><button class="btn btn-info btn-lg" type="button"(click)=search(circle.value)><i class="glyphicon glyphicon-search"></i></button></span>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-12">
        <ul class="list-group">
          <li class="list-group-item justify-content-between" *ngFor=" let circle of circles ">
            {{ circle.circleName}} > {{ circle.circleDescription}}
            <button class="btn btn-primary pull-right" (click)=joinCircle(circle)>Join</button>
        </li>
        <br>
    </ul>
</div>
</div>

