<!-- <div class="container">
	<div class="row">
        <div class="col-md-12">
    		<div id="search-input">
                <div class="input-group">
                    <input type="text" class="form-control input-lg" placeholder="search" #username/>
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button"
                        (click)=search(username.value)>
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
            
        </div>
	</div>
</div> -->

<md-input-container>
  <input mdInput placeholder="State" [mdAutocomplete]="auto" [formControl]="stateCtrl">
</md-input-container>

<md-autocomplete #auto="mdAutocomplete">
  <md-option *ngFor="let state of filteredStates | async" [value]="state">
    {{ state }}
  </md-option>
</md-autocomplete>