#signupContainer {
	background-color: white;
	width: 100%;
    /*padding: 10px 15px;*/
    /*padding-top: 100px;*/
    margin-top: 0px;
}
/*#signupform {
	margin-left: -30px;
}*/

#signupbox {
/*	margin:10%;
	margin-top: 20px;
	margin-bottom: 20px;
	width:80%;*/
/*	margin: 20%;
    margin-top: 20px;
    margin-bottom: 20px;*/
    width: 400px;
    margin-top: 11.5%;
    margin-left: 32%;
    margin-right: 35%;
}

/*#signindiv {
	float:right;
	font-size: 85%;
	position: relative;
	top:-10px;
}*/

/*.ng-valid[required], .ng-valid.required  {*/
  /*border-left: 5px solid #42A948;*/ /* green */
/*}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442;*/ /* red */
/*}
*/
/*.container {
	width: 1020px;
	padding: 10px 15px;
	padding-top: 0px;
	margin-top: 100px;
	
}*/

.panel-info{
	background-color: #f8f8f8;
}

.panel-heading {
	background: #337ab7; /* For browsers that do not support gradients */
  	background: -webkit-linear-gradient(left, #337ab7 , #a0a0a0); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(right, #337ab7, #a0a0a0); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(right, #337ab7, #a0a0a0); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to right, #337ab7 , #a0a0a0);
}

.panel-title {
	color: white;
	font-weight: bold;
}

.panel-body{
	padding: 30px;
	padding-left: 40px;
	padding-right: 40px; 
}

.labels {
	color: #1976d2;
}

.form-horizontal .control-label{
	padding-left: 7%;
	text-align: left;
}
.signupfield {
	margin-bottom: 20px;
}
#signupbtn {
	margin-top: 10px;
	margin-bottom: 15px;
}

#btn-signup {
	width: 100%;
	font-size: 15px;
	margin-top: 10px;
	margin-right: 20px;
}

#nosignup {
    border-top: 1px solid #888;
    padding-top: 15px;
    font-size:85%
}
.alertMessage {
	color: red;
	margin-bottom: 20px;
	margin-left: 50px;
}
